@media (max-width;1280px){
    body {
        width:100%;
    }
}
#hero-1 {
    font-size: 4rem;
    margin-top: 0;
    margin-bottom: .5rem;
}
#hero-2 {
    font-size: 1.25rem;
    margin: 0;
    margin-bottom: 2rem;
}
